{% extends "layout.html" %}

{% block body %}

<div class="container" >
  <div class="row mt-3 ">
    <div class="col-6 col-sm-6">

       <b><i><p class="fs-1 para text-dark text-decoration-underline">Online Grocery Store & Delivery</p></i></b>
       <i><p class="fs-4 fw-normal text-white">"It is time for you to choose and make a fruitful and healthy life for you by selecting vegetables,fruits and fresh meat,all available with different as well as at one place with free home delivery"</p></i>
     
      <a href="/groclist" class="btn btn-outline-dark text-light">Shop Now</a>
    </div>

      <div class="col-6 col-sm-6">
        <img src="static/media/groc.jpg" class="rounded mx-auto d-block img-fluid shadow-lg p-2 mb-2 bg-body rounded make-it-fast" width="600" height="500" alt="...">
             
       </div>
  </div>
  </div>

{% endblock body %}
