<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <style>
    body{
        background: linear-gradient(90deg, #095c5a, #006572, #006c8c, #0070a5, #3372b8, #6e70c2, #a069bf, #cc60b1);
        }
    #align{
        width: 1290px;
        height: 550px;
    }
    #align2{
        margin-top: 30px;
    }
   
 </style>

    <title>GRMS-APP</title>

  </head>
  <body>
      <div class="container ">
    <i><h1 class="text-white text-center mt-3 bg-gradient shadow-lg ">Welcome To Online Grocery Shopping</h1></i>
    <img src="static/media/grocimg.jpg"  class="mt-4 shadow-lg p-1 bg-body img-fluid" id="align">
    </div> 
    <div class="container text-center" id="align2">
    <h4><a class="text-white btn btn-primary" aria-current="page" href="/login">Login To Continue</a></h4>
  </div>
   </body>
</html>
